.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Reference directories
/pulsar-dotpulsar

# Build directories
Samples/.build/
**/.build/

# Claude AI
.claude
